@font-face {
    font-family: 'Query';
    src: url('/fonts/Copyright-Public-Type.woff2') format('woff2'),
        url('/fonts/Copyright-Public-Type.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dada Grotesk';
    src: url('/fonts/DadaGrotesk-BookIta.woff2') format('woff2'),
        url('/fonts/DadaGrotesk-BookIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Dada Grotesk';
    src: url('/fonts/DadaGrotesk-Book.woff2') format('woff2'),
        url('/fonts/DadaGrotesk-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
