@import 'fonts.css';
@import 'swiper.css';

/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

html, body {
  @apply font-america;
  font-size: 12px;
  overflow-x: hidden;
}

main {
  min-height: 80vh;
  margin-top: 98px;
}

.container {
  width: 95%;
}

.text-content p {
  margin-bottom: 1rem;
}

.text-content a:link {
  @apply underline;
}

.dot {
  width: 20px;
  height: auto;
}

.superscript {
  @apply text-sm font-america mx-2;
  vertical-align: super;
}

.stroke-black path {
  stroke: #424242
}

.fill-gray-dark path {
  fill: #979797
}

.fill-black path {
  fill: #424242
}

.fill-white path {
  fill: #FFFFFF
}

.filter-shadow {
  filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .5))
}

.header-logo {
  height: 16px
}

.nav-trigger {
  width: 44px;
  height: 12px;
}

.nav-trigger-bar {
  transition: transform 200ms ease-in-out;
}

.nav-trigger.nav-active .nav-trigger-bar:first-of-type {
  transform: rotate(10deg) translateY(150%);
}

.nav-trigger.nav-active .nav-trigger-bar:last-of-type {
  transform: rotate(-10deg) translateY(-150%);
}

.mobile-nav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
}

.mobile-nav.nav-active {
  opacity: 1;
  pointer-events: auto;
}

.talent-list-item:last-of-type > .comma,
.talent-service:last-of-type > .comma {
  display: none;
}

.project-list-image {
  @apply object-contain;
  width: 100%;
  height: 353px;
}

.project-slider .swiper-slide {
  @apply w-auto self-center my-40;
}

.project-slide-image {
  @apply w-auto h-auto;
  max-width: 353px;
  max-height: 353px;
}

.swiper-container {
  overflow: visible;
}

.gallery .swiper-container {
  width: 100vw;
}

.gallery .swiper-wrapper {
  align-items: center
}

.gallery .swiper-slide {
  @apply flex justify-center items-center transition-opacity;
  opacity: .2;
  width: 60vw;
  height: 70vw;
  max-height: 900px;
}

.gallery .swiper-slide-active {
  opacity: 1
}

input {
  max-width: 450px;
}

.nav-item a:after {
  @apply absolute block w-full border-black mt-2;
  border-bottom-width: .1em;
  content: '';
  transform: scaleX(0);
  will-change: transform;
  transition: transform 200ms ease-in-out;
  transform-origin: 0 0;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  transform: scaleX(1)
}

@screen sm {
  .edition-list-image-holder {
    height: 350px;
  }

  .superscript {
    @apply text-base;
  }
}

@screen md {
  .header-logo {
    height: 18px
  }

  .project-list-image {
    height: 372px;
  }

  .project-slide-image {
    max-width: 372px;
    max-height: 372px;
  }

  .edition-list-image-holder {
    height: 300px;
    max-height: none;
  }
}

@screen lg {
  .container {
    width: 960px;
  }

  .header-logo {
    height: 20px
  }

  .project-list-image {
    height: 492px;
  }

  .project-slide-image {
    max-width: 492px;
    max-height: 492px;
    margin: 0 auto;
  }

  .edition-list-image-holder {
    height: 400px;
  }
}

@screen xl {
  .container {
    width: 1100px;
  }

  .project-list-image {
    height: 562px;
  }

  .project-slide-image {
    max-width: 562px;
    max-height: 562px;
  }

  .edition-list-image-holder {
    height: 500px;
  }
}

@screen 2xl {
  .container {
    width: 1400px;
  }

  .project-list-image {
    height: 688px;
  }

  .project-slide-image {
    max-width: 688px;
    max-height: 688px;
  }

  .edition-list-image-holder {
    height: 600px
  }
}

@tailwind utilities;
